<!-- ================= SIDEBAR DESKTOP ================= -->
<div class="container-fluid p-0">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block sidebar p-4">
            <h5 class="titulo-menu">Menú</h5>
            <ul class="nav flex-column">
                <li class="nav-item"><a class="nav-link" href="/dashboard"><i class="bi bi-speedometer2"></i> Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" *ngIf="rol!='cliente'" href="/clientes" routerLink="/clientes.html"><i class="bi bi-people" ></i> Clientes</a></li>
                <li class="nav-item"><a class="nav-link" href="/productos"><i class="bi bi-brush"></i> Productos</a></li>
            </ul>
        </nav>

        <div class="offcanvas offcanvas-start" id="mobileMenu">
    <div class="offcanvas-header bg-primary text-white">
        <h5>Menú</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
            <li class="nav-item"><a class="nav-link"   *ngIf="rol!='cliente'" href="/clientes"  >Clientes</a></li>
            <li class="nav-item"><a class="nav-link" href="/productos">Productos</a></li>
        </ul>
    </div>
</div>